@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 600;
    src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
}


@font-face {
    font-family: "Jost";
    font-weight: 400;
    src: url("./assets/fonts/Jost/Jost-Regular.ttf");
}

@font-face {
    font-family: "Jost";
    font-weight: 700;
    src: url("./assets/fonts/Jost/Jost-Bold.ttf");
}

:root {
    --main-color-white: #fff;
    --main-color-blue: #2000E7;
    --main-color-yellow: #F2BD00;
    --main-color-subblack: #383838;
    --main-color-black: #000;
}

/*global*/
* {
    box-sizing: border-box;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

html, body {
    padding: 0;
    margin: 0;
}

.divider {
    min-height: 200px;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    min-width: 246px;
    text-align: center;
    font-size: 24px;
    line-height: 1.2;
    text-decoration: none;
    padding: 19px 78px 17px;
    border-radius: 10px;
    color: var(--main-color-white);
    background-color: var(--main-color-blue);
    box-shadow: 11px 21px 15px 6px rgba(0, 0, 0, 0.25);
}

.btn--second {
    color: var(--main-color-blue);
    outline: 2px solid var(--main-color-blue);
    background: rgba(32, 0, 231, 0.04);
}

.btn--form {
    border-radius: 0;
    font-size: 32px;
    font-weight: 400;
    border: none;
    background: var(--main-color-white);
    color: var(--main-color-black);
    box-shadow: 13px 21px 4px 0 rgba(0, 0, 0, 0.25);
}

body {
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.container {
    padding: 0 60px;
    max-width: 1440px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 45px;
}

.menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 65px;
}

.menu__list-item-link {
    text-decoration: none;
    color: #686565;
    font-size: 30px;
    line-height: 1.2;
    transition: opacity, .3s;
}

.menu__list-item-link:hover {
    opacity: 0.3;
    transition: opacity, .3s;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    padding-top: 155px;
}

.hero__container {
    display: flex;
    flex-direction: column;
}

.hero-text__title {
    padding: 0 0 20px 0;
    margin: 0;
    color: var(--main-color-blue);
    font-size: 48px;
    max-width: 448px;
    font-weight: 700;
}

.hero-text__title span {
    color: var(--main-color-yellow);
}

.hero-text__subtitle {
    padding: 0 0 5px 0;
    margin: 0;
    font-size: 30px;
    line-height: 1.2;
    color: var(--main-color-blue);
}

.hero-text__someText {
    padding: 0;
    margin: 0 0 60px 0;
    font-size: 24px;
    font-weight: 400;
    color: var(--main-color-subblack);
}

.hero__img-block {
    display: flex;
    align-items: flex-end;
}

.hero__img {
    box-shadow: 36px -32px 0 0 rgba(135, 117, 249, 0.50);
}

.hero__container {
    display: flex;
}

.btn-block {
    display: flex;
    justify-content: space-between;
}


/*about*/

.about {
    background: rgba(67, 186, 253, 0.06);
}

.about__container {
    display: flex;
    justify-content: space-between;
}

.about__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 200px;
}

.about__title {
    margin: 0;
    padding: 0 0 14px 0;
    font-size: 48px;
    color: var(--main-color-blue);
    font-weight: 700;
    letter-spacing: 17px;
}

.about__text {
    padding: 0 0 40px 0;
    margin: 0;
    font-size: 24px;
    color: var(--main-color-black);
    max-width: 415px;

}
.about__img-wrap {
    display: flex;
    justify-items: flex-end;
}

.about__btn {
    display: block;
    align-self: center;
}

/*project*/

.project {
    padding-top: 35px;
    padding-bottom: 65px;
    background: rgba(255, 214, 150, 0.20);
    display: flex;
    justify-content: center;
}

.project__title {
    margin: 0;
    padding: 0;
    color: var(--main-color-blue);
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 10px;
    text-align: center;
}

.project__subtitle {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    color: var(--main-color-black);
    text-align: center;
    padding-bottom: 45px;
}

.project__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 45px 185px;
}

.project__item {
    display: flex;
}

/*contact-me*/

.contact-me {
    padding-bottom: 67px;
    padding-top: 67px;
    background: rgba(67, 186, 253, 0.06);
}

.contact-me__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;
}

.contact-me__container {
    display: flex;
}

.contact-me__wrap {
    display: flex;
    align-items: center;
}

.contact-me__title {
    padding: 0;
    margin: 0;
    font-size: 64px;
    letter-spacing: 17px;
    color: var(--main-color-blue);
}

.contact-me__subtitle {
    font-size: 24px;
    color: var(--main-color-black);
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.input {
    border: none;
    background: var(--main-color-white);
    box-shadow: 13px 21px 4px 0 rgba(0, 0, 0, 0.25);
    min-height: 94px;
    width: 653px;
    font-size: 32px;
    padding: 24px 55px;
}

.input::placeholder {
    color: var(--main-color-black);
}

.input--text-area {
    resize: none;
    min-height: 265px;
}

.contact-me__input-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}

/*footer*/

.footer {
    padding-top: 132px;
    background-color: rgba(255, 214, 150, 0.20);
    font-family: "Jost", sans-serif;
    font-weight: 700;
}

.uni-design {
    width: 435px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__title {
    margin: 0;
    padding: 0 0 50px 0;
    font-size: 48px;
    letter-spacing: 17px;
    color: #0E0578;
}

.form-sub {
    width: 100%;
}

.form-sub__container {
    display: flex;
    position: relative;
    min-width: 100%;
}

.form-sub__input-subscribe {
    height: 97px;
    border: none;
    background-color: var(--main-color-black);
    border-radius: 30px;
    width: 323px;
    font-size: 31px;
    font-weight: 700;
    line-height: 1;
    padding: 24px 28px;
}

.form-sub__input-subscribe::placeholder {
    color: var(--main-color-white);
}

.form-sub__btn-subscribe {
    height: 97px;
    border: none;
    font-size: 31px;
    font-weight: 700;
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f965fc;
    color: var(--main-color-white);
    cursor: pointer;
}

.form-sub__wrap {
    padding: 0;
    margin: 0;
}

.footer-top {
    display: grid;
    grid-gap: 110px;
    grid-template-columns: 1fr 4fr;
    padding-bottom: 100px;
}

.footer-nav {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-nav__title {
    padding: 0;
    margin: 0 0 40px 0;
    font-size: 31px;
    font-weight: 700;
    color: var(--main-color-black);
}

.footer-nav__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-nav__list-item p {
    font-size: 31px;
    font-weight: 400;
    color: var(--main-color-black);
    margin: 0;
    padding: 0;
}

.footer-nav__list-item a {
    text-decoration: none;
    font-size: 31px;
    font-weight: 400;
    color: var(--main-color-black);
    transition: opacity .3s;
}

.footer-nav__list-item a:hover {
    opacity: 0.3;
    transition: opacity .3s;
}

.footer-bottom {
    padding-top: 80px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--main-color-black);
}

.footer-bottom__copyright {
    padding: 0;
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    color: var(--main-color-black);
}

.footer-bottom__social-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-gap: 48px;
    grid-template-columns: repeat(4, 1fr);
}

.footer-bottom__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .3s;
}

.footer-bottom__social-item:hover {
    opacity: 0.3;
    transition: opacity .3s;
    cursor: pointer;
}